<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>Real Time Analytics</header>
  <main>
    <section class="left">
      <div class="views">
        <h3>Right now</h3>
        <div class="counter">

        </div>
        <span>Page Visitors</span>
      </div>
    </section>
    <section class="right">
      <h3>Real Time Activity</h3>
      <h3>Page Views</h3>
    </section>
  </main>
  <footer>

  </footer>
  <script src="/assets/js/dashboard.js"></script>
</body>
</html>
